.site-header {
  background-color: $color__background-header;
  height: 70px;
  padding: 10px 0px;
  overflow: hidden;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;

    .site-branding {
      .custom-logo-link {
        img {
          height: 50px;
          width: auto;
        }
      }
    }

    .main-navigation {
      width: auto;
      justify-self: end;
      align-self: center;

      .nav-menu {
        li {
          margin-right: 10px;
          a {
            color: $color__text-screen;

            &:visited,
            &:hover,
            &:active {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

.site-main {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.widget-area {
  background-color: #393e46;

  color: #ffffff;
  padding: 10px 0;

  .container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;

    section {
      margin: 0;
    }
  }
}

.site-footer {
  background-color: $color__background-footer;
  padding: 10px 0;
  color: #ffffff;

  .site-info {
    max-width: 1200px;
    margin: 0 auto;
    height: 30px;

    span {
      vertical-align: middle;
    }

    img {
      height: 30px;
      float: right;
    }
  }
}

.error-404 {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px 10px;

  div {
    align-self: center;
  }

  img {
    height: 350px;
    justify-self: center;
  }
}
